﻿@green: #6d954c;
@gray: #f5f6f1;
@brown: #463f3a;
@dark-brown: #3c3631;
@red: #d65933;
@white: #ffffff;
@red-shade: rgba(214,89,51,0.5);

@normal-font: Artial;
@special-font: 'Oswald', sans-serif;

html, body {
    font-family: Arial;
    font-size: 1em;
    line-height: 24px;
    background-color: @white;
}

a {
    text-decoration: none;
    color: @white;

    &:hover {
        color: @green;
        text-decoration: none;
    }
}

.btn {
    border-width: 0;
    color: white;
    background-color: @dark-brown;
    padding: 15px;
    border-radius: 0;

    &:hover {
        color: @white;
    }
}

.bottom0 {
    margin-bottom: 0;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom30 {
    margin-bottom: 30px;
}

.bottom40 {
    margin-bottom: 40px;
}

.bottom50 {
    margin-bottom: 50px;
}

h1, h2 {
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: @special-font;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.125em;
    .bottom10;
}

.uppercase {
    text-transform: uppercase;
}

.navbar-wrapper {
    .contact {
        padding: 15px 0 0 0;
        font-size: 0.875em;

        span:last-child {
            margin-left: 20px;
        }
    }

    .navbar {
        font-size: 1.125em;
    }

    @media (max-width: 767px) {
        .navbar {
            .bottom50;

            .navbar-header {

                .navbar-brand {
                    margin: 0 auto;
                    display: block;
                    float: none;
                    width: 100px;
                    padding: 0;
                    z-index: 50;

                    img {
                        margin-top: 5px;
                        width: 100px;
                    }
                }
            }
        }
    }

    @media (min-width: 767px) {
        .navbar {
            border-width: 0;
            height: 120px;
            margin-bottom: 60px;
            padding-top: 40px;

            .logo {
                position: relative;

                a {
                    width: 250px;
                }

                h1 {
                    position: absolute;
                    top: -75px;
                    left: 0;
                    right: 0;

                    img {
                        width: 240px;
                    }
                }
            }

            li {
                a {
                    display: inline-block;
                }

                span {
                    color: @red;
                    margin: 0;
                }
            }

            .navbar-nav {
                display: inline-block;
                float: none;
            }

            .navbar-collapse {
                text-align: center;
            }
        }
    }
}

body > footer {
    margin-top: 50px;
    text-transform: uppercase;

    p {
        font-size: 13px;
        text-transform: none;
        padding-left: 32px;
        font-size: 14px;
        color: @white;
        float: left;
    }

    .banner {
        background-color: @brown;
        color: @white;
        padding: 30px 0;

        .logo {
            text-align: center;

            img {
                display: inline-block;
            }
        }

        nav {
            margin-top: 60px;

            ul {
                margin: 0;
                padding-left: 30px;
                margin-bottom: 20px;

                li {
                    float: left;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    font-size: 1.125em;

                    span {
                        color: @red;
                        margin: 0 20px;
                        font-size: 1.125em;
                    }
                }
            }
        }

        .copyright {
            font-size: 0.875em;
        }

        .top {
            padding: 15px;
            font-size: 1.250em;
            background-color: @dark-brown;
            text-align: center;
            margin-top: 60px;
            cursor: pointer;
        }
    }

    .social {
        background-color: @gray;

        ul {
            padding: 0;
            margin: 0;
        }

        ul li {
            float: left;
            list-style: none;
            margin: 5px 15px 5px 0;
        }
    }
}

.title-page {
    .bottom30;

    header {
        background-image: url('../images/title-bg.png');
        background-repeat: repeat-x;
        text-align: center;
    }

    h2 {
        margin: 0;
        width: auto;
        display: inline-block;
        background-color: @white;
        padding: 0 20px;
        text-transform: uppercase;
    }

    span {
        font-size: 0.750em;
        display: block;
        text-align: center;
    }
}

.language {
    .navbar-wrapper {
        background-color: @gray;
        height: 160px;
        margin-top: 80px;
        position: relative;
        text-align: center;
        margin-bottom: 300px;

        h1 img {
            margin-top: -50px;
        }
    }

    .main-content {
        background-color: @brown;
        position: relative;
        height: 800px;

        .container {
            background-color: @gray;
            padding: 50px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            position: absolute;
            top: -200px;
            left: 0;
            right: 0;

            section {
                margin-top: 180px;
            }

            .crown {
                text-align: center;
            }

            article {
                header {
                    font-size: 1.3em;
                    .bottom20;
                    font-family: @special-font;
                    text-align: center;
                    font-weight: bold;
                }

                p {
                    .bottom50;
                }

                .btn {
                    margin: 0 auto;
                    display: block;
                    width: 220px;
                    border-width: 0;
                    color: white;
                    padding: 10px 0;
                    background-color: @red;
                    font-family: @special-font;
                    border-radius: 0;
                    .bottom20;
                    font-size: 20px;
                }
            }
        }
    }
}

.homepage {
    #myCarousel {
        .bottom40;

        .carousel-inner {
            .bottom40;
        }

        .nav {
            li a {
                border-radius: 0;
                background-color: @gray;
                padding: 20px 0;
                text-align: center;
                color: black;

                header {
                    font-size: 1.5em;
                    .bottom20;
                    font-family: @special-font;
                    font-weight: bold;
                }

                section {

                    span {
                        margin-left: 5px;
                        color: @red;
                    }
                }
            }

            li.active a {
                color: @white;
                background-color: @green;

                section {
                    span {
                        color: @white;
                    }
                }
            }
        }
    }

    .news {
        background-color: @gray;
        padding-top: 30px;


        .title-page {
            h2 {
                background-color: @gray;
            }
        }

        > .container > header {
            margin: 50px 0;
        }

        .news-item {
            img {
                .bottom20;
                width: 100%;
            }

            p {
                .bottom20;
            }

            a {
                color: @green;
                display: block;
                .bottom20;
            }
        }
    }

    .slogan {
        margin-top: 50px;
        text-align: center;

        header {
            font-size: 2.250em;
            line-height: 40px;
            font-family: @special-font;
        }

        section {
            margin-top: 15px;

            span {
                color: @green;
            }
        }
    }
}

.locations {
    .container {
        .location-item {
            .image-container {
                .bottom10;

                img {
                    width: 100%;
                }
            }

            header {
                font-size: 0.9em;
                text-transform: uppercase;
                height: 16px;
                overflow: hidden;
                .bottom10;
            }

            p {
                font-size: 0.75em;
                height: 25px;
                overflow: hidden;
                .bottom5;
            }

            a {
                display: block;
                color: @green;
                .bottom10;
                cursor: pointer;
            }
        }
    }

    footer {
        margin-top: 50px;
    }
}

.location {
    #myCarousel {
        display: none;
        .bottom10;

        .carousel-inner {
            .bottom10;

            .image-container {
                height: 365px;
                overflow: hidden;

                img {
                    width: 100%;
                    min-height: 365px;
                }
            }
        }

        .carousel-nav .image-container {
            height: 98px;
            overflow: hidden;

            .carousel-nav img {
                width: 100%;
                min-height: 98px;
            }
        }



        .row {
            margin: 0 -5px;

            .col-xs-3 {
                padding: 0 5px;
            }
        }

        .nav {
            > li > a {
                border-radius: 0;
                padding: 0;

                small {
                    display: block;
                }
            }

            > li.active a {
                background-color: #16a085;
            }
        }
    }

    article {
        p {
            .bottom20;
        }

        #map-canvas {
            height: 300px;
            width: 100%;
        }
    }
}

.franchise {
    .franchise-beginnen {
        background-color: @gray;
        .bottom15;

        header {
            padding: 10px;
            background-color: @brown;
            color: white;
            text-align: center;
        }

        .content {
            padding: 20px;

            ul {
                .bottom0;

                li {
                    list-style-image: url('../images/arrow.png');
                }
            }

            .btn {
                margin-top: 20px;
                padding: 10px;
                background-color: @brown;
                border-radius: 0;
                width: 100%;
                text-transform: uppercase;
                font-family: @special-font;
            }
        }
    }

    .franchise-menu {
        .nav {
            a {
                background-color: @gray;
                color: @dark-brown;
                .bottom10;
            }

            .active {
                padding-right: 0;

                a {
                    background-color: @dark-brown;
                    color: @white;
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            background-color: @gray;
            padding: 15px;
            border-left: 3px @brown solid;
        }
    }
}

.jobs {
    .panel-group .panel + .panel {
        margin-top: 0;
    }

    .panel {
        border-width: 0;
        border-radius: 0;
        margin-bottom: 15px;

        ul li {
            list-style-image: url('../images/arrow.png');
        }

        .btn {
            float: right;
            font-family: @special-font;
        }

        .faq-cat-content {
            margin-top: 25px;
        }

        .panel, .panel-group, .panel-heading {
            border-radius: 0;
        }

        .faq-cat-tabs li a {
            padding: 15px 10px 15px 10px;
            background-color: @gray;
            border: 1px solid #dddddd;
            color: #777777;
        }

        .nav-tabs li a:focus,
        .panel-heading a:focus {
            outline: none;
        }

        .panel-heading a,
        .panel-heading a:hover,
        .panel-heading a:focus {
            text-decoration: none;
            color: @dark-brown;
        }

        .faq-cat-content .panel-heading:hover, .active-faq {
            background-color: @dark-brown;

            h3 {
                color: @white;
            }
        }

        .panel-body {
            background-color: @gray;
            border-width: 0;
        }

        .panel-faq .panel-heading .panel-title span {
            font-size: 0.813em;
            font-weight: normal;
        }
    }
}

.menu {
    .image-container {
        position: relative;
        width: 100%; /* for IE 6 */
        img {
            width: 100%;
        }

        header {
            display: none;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px;
            background-color: @red;
            font-style: @normal-font;
            color: @white;
        }
    }
}

.contact {
    .spacing {
        margin-top: 5px;
        margin-left: 20px;
        display: block;
    }

    #map-canvas {
        width: 100%;
        height: 260px;
        .bottom20;
    }

    form {
        input, textarea {
            display: block;
            width: 100%;
            .bottom20;
            padding: 5px;
            color: @gray;

            &.btn {
                padding: 15px;
            }
        }

        textarea {
            height: 100px;
        }
    }
}

@media (max-width: 1200px) {
    .homepage {
        #myCarousel {
            .bottom10;

            .carousel-inner {
                .bottom10;
            }

            .nav li {
                .bottom5;
            }
        }
    }

    body > footer {
        .banner {
            nav {
                margin-top: 70px;
            }

            .top {
                margin-top: 70px;
            }
        }

        .social {



            ul li {
                width: 20%;
                margin: 5px 0;
                text-align: center;
            }
        }
    }
}

@media(max-width:992px) {
    body > footer {
        text-align: center;



        .banner {
            nav {
                margin-top: 50px;
            }

            img {
                margin-top: 40px;
            }

            .top {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .bottom20 {
        margin-bottom: 10px;
    }

    .navbar-wrapper {
        .contact {
            display: none;
        }
    }

    .jobs {
        .btn {
            width: 100%;
        }
    }

    body > footer {
        text-align: center;

        .banner {

            nav {
                margin-top: 30px;
                display: inline-block;
                float: none;

                ul {
                    text-align: center;

                    li {
                        width: 50%;
                    }
                }
            }

            .top {
                margin-top: 20px;
            }
        }
    }
}
