﻿html,
body {
  font-family: Arial;
  font-size: 1em;
  line-height: 24px;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #6d954c;
  text-decoration: none;
}
.btn {
  border-width: 0;
  color: white;
  background-color: #3c3631;
  padding: 15px;
  border-radius: 0;
}
.btn:hover {
  color: #ffffff;
}
.bottom0 {
  margin-bottom: 0;
}
.bottom5 {
  margin-bottom: 5px;
}
.bottom10 {
  margin-bottom: 10px;
}
.bottom15 {
  margin-bottom: 15px;
}
.bottom20 {
  margin-bottom: 20px;
}
.bottom30 {
  margin-bottom: 30px;
}
.bottom40 {
  margin-bottom: 40px;
}
.bottom50 {
  margin-bottom: 50px;
}
h1,
h2 {
  text-transform: uppercase;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.125em;
  margin-bottom: 10px;
}
.menu h3 {
  width: 90%;
  display: inline-block;
}
.menu p {
  width: 85%;
}
.menu .menu-item {
  margin-bottom: 40px;
}
.uppercase {
  text-transform: uppercase;
}
.navbar-wrapper .contact {
  padding: 15px 0 0 0;
  font-size: 0.875em;
}
.navbar-wrapper .contact span:last-child {
  margin-left: 20px;
}
.navbar-wrapper .navbar {
  font-size: 1.125em;
}
@media (max-width: 767px) {
  .navbar-wrapper .navbar {
    margin-bottom: 50px;
  }
  .navbar-wrapper .navbar .navbar-header .navbar-brand {
    margin: 0 auto;
    display: block;
    float: none;
    width: 100px;
    padding: 0;
    z-index: 50;
  }
  .navbar-wrapper .navbar .navbar-header .navbar-brand img {
    margin-top: 5px;
    width: 100px;
  }
}
@media (min-width: 767px) {
  .navbar-wrapper .navbar {
    border-width: 0;
    height: 120px;
    margin-bottom: 60px;
    padding-top: 40px;
  }
  .navbar-wrapper .navbar .logo {
    position: relative;
  }
  .navbar-wrapper .navbar .logo a {
    width: 250px;
  }
  .navbar-wrapper .navbar .logo h1 {
    position: absolute;
    top: -75px;
    left: 0;
    right: 0;
  }
  .navbar-wrapper .navbar .logo h1 img {
    width: 240px;
  }
  .navbar-wrapper .navbar li a {
    display: inline-block;
  }
  .navbar-wrapper .navbar li span {
    color: #d65933;
    margin: 0;
  }
  .navbar-wrapper .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar-wrapper .navbar .navbar-collapse {
    text-align: center;
  }
}
body > footer {
  margin-top: 50px;
  text-transform: uppercase;
}
body > footer p {
  font-size: 13px;
  text-transform: none;
  padding-left: 32px;
  font-size: 14px;
  color: #ffffff;
  float: left;
}
body > footer .banner {
  background-color: #463f3a;
  color: #ffffff;
  padding: 30px 0;
}
body > footer .banner .logo {
  text-align: center;
}
body > footer .banner .logo img {
  display: inline-block;
}
body > footer .banner nav {
  margin-top: 60px;
}
body > footer .banner nav ul {
  margin: 0;
  padding-left: 30px;
  margin-bottom: 20px;
}
body > footer .banner nav ul li {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.125em;
}
body > footer .banner nav ul li span {
  color: #d65933;
  margin: 0 20px;
  font-size: 1.125em;
}
body > footer .banner .copyright {
  font-size: 0.875em;
}
body > footer .banner .top {
  padding: 15px;
  font-size: 1.250em;
  background-color: #3c3631;
  text-align: center;
  margin-top: 60px;
  cursor: pointer;
}
body > footer .social {
  background-color: #f5f6f1;
}
body > footer .social ul {
  padding: 0;
  margin: 0;
}
body > footer .social ul li {
  float: left;
  list-style: none;
  margin: 5px 15px 5px 0;
}
.title-page {
  margin-bottom: 30px;
}
.title-page header {
  background-image: url('../images/title-bg.png');
  background-repeat: repeat-x;
  text-align: center;
}
.title-page h2 {
  margin: 0;
  width: auto;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 20px;
  text-transform: uppercase;
}
.title-page span {
  font-size: 0.750em;
  display: block;
  text-align: center;
}
.language .navbar-wrapper {
  background-color: #f5f6f1;
  height: 160px;
  margin-top: 80px;
  position: relative;
  text-align: center;
  margin-bottom: 300px;
}
.language .navbar-wrapper h1 img {
  margin-top: -50px;
}
.language .main-content {
  background-color: #463f3a;
  position: relative;
  height: 800px;
}
.language .main-content .container {
  background-color: #f5f6f1;
  padding: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
}
.language .main-content .container section {
  margin-top: 180px;
}
.language .main-content .container .crown {
  text-align: center;
}
.language .main-content .container article header {
  font-size: 1.3em;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: bold;
}
.language .main-content .container article p {
  margin-bottom: 50px;
}
.language .main-content .container article .btn {
  margin: 0 auto;
  display: block;
  width: 220px;
  border-width: 0;
  color: white;
  padding: 10px 0;
  background-color: #d65933;
  font-family: 'Oswald', sans-serif;
  border-radius: 0;
  margin-bottom: 20px;
  font-size: 20px;
}
.homepage #myCarousel {
  margin-bottom: 40px;
}
.homepage #myCarousel .carousel-inner {
  margin-bottom: 40px;
}
.homepage #myCarousel .nav li a {
  border-radius: 0;
  background-color: #f5f6f1;
  padding: 20px 0;
  text-align: center;
  color: black;
}
.homepage #myCarousel .nav li a header {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.homepage #myCarousel .nav li a section span {
  margin-left: 5px;
  color: #d65933;
}
.homepage #myCarousel .nav li.active a {
  color: #ffffff;
  background-color: #6d954c;
}
.homepage #myCarousel .nav li.active a section span {
  color: #ffffff;
}
.homepage .news {
  background-color: #f5f6f1;
  padding-top: 30px;
}
.homepage .news .title-page h2 {
  background-color: #f5f6f1;
}
.homepage .news > .container > header {
  margin: 50px 0;
}
.homepage .news .news-item img {
  margin-bottom: 20px;
  width: 100%;
}
.homepage .news .news-item p {
  margin-bottom: 20px;
}
.homepage .news .news-item a {
  color: #6d954c;
  display: block;
  margin-bottom: 20px;
}
.homepage .slogan {
  margin-top: 50px;
  text-align: center;
}
.homepage .slogan header {
  font-size: 2.250em;
  line-height: 40px;
  font-family: 'Oswald', sans-serif;
}
.homepage .slogan section {
  margin-top: 15px;
}
.homepage .slogan section span {
  color: #6d954c;
}
.container.locations .location-item .image-container {
  margin-bottom: 10px;
}
.container.locations .location-item .image-container img {
  width: 100%;
}
.container.locations .location-item header {
  font-size: 0.9em;
  text-transform: uppercase;
  height: 16px;
  overflow: hidden;
  margin-bottom: 10px;
}
.container.locations .location-item p {
  font-size: 0.75em;
  height: 25px;
  overflow: hidden;
  margin-bottom: 5px;
}
.container.locations .location-item a {
  display: block;
  color: #6d954c;
  margin-bottom: 10px;
  cursor: pointer;
}
.locations footer {
  margin-top: 50px;
}
.location #myCarousel {
  display: none;
  margin-bottom: 10px;
}
.location #myCarousel .carousel-inner {
  margin-bottom: 10px;
}
.location #myCarousel .carousel-inner .image-container {
  height: 365px;
  overflow: hidden;
}
.location #myCarousel .carousel-inner .image-container img {
  width: 100%;
  min-height: 365px;
}
.location #myCarousel .carousel-nav .image-container {
  height: 98px;
  overflow: hidden;
}
.location #myCarousel .carousel-nav .image-container .carousel-nav img {
  width: 100%;
  min-height: 98px;
}
.location #myCarousel .row {
  margin: 0 -5px;
}
.location #myCarousel .row .col-xs-3 {
  padding: 0 5px;
}
.location #myCarousel .nav > li > a {
  border-radius: 0;
  padding: 0;
}
.location #myCarousel .nav > li > a small {
  display: block;
}
.location #myCarousel .nav > li.active a {
  background-color: #16a085;
}
.location article p {
  margin-bottom: 20px;
}
.location article #map-canvas {
  height: 300px;
  width: 100%;
}
.franchise .franchise-beginnen {
  background-color: #f5f6f1;
  margin-bottom: 15px;
}
.franchise .franchise-beginnen header {
  padding: 10px;
  background-color: #463f3a;
  color: white;
  text-align: center;
}
.franchise .franchise-beginnen .content {
  padding: 20px;
}
.franchise .franchise-beginnen .content ul {
  margin-bottom: 0;
}
.franchise .franchise-beginnen .content ul li {
  list-style-image: url('../images/arrow.png');
}
.franchise .franchise-beginnen .content .btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #463f3a;
  border-radius: 0;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.franchise .franchise-menu .nav a {
  background-color: #f5f6f1;
  color: #3c3631;
  margin-bottom: 10px;
}
.franchise .franchise-menu .nav .active {
  padding-right: 0;
}
.franchise .franchise-menu .nav .active a {
  background-color: #3c3631;
  color: #ffffff;
}
.franchise .tab-content .tab-pane {
  background-color: #f5f6f1;
  padding: 15px;
  border-left: 3px #463f3a solid;
}
.jobs .panel-group .panel + .panel {
  margin-top: 0;
}
.jobs .panel {
  border-width: 0;
  border-radius: 0;
  margin-bottom: 15px;
}
.jobs .panel ul li {
  list-style-image: url('../images/arrow.png');
}
.jobs .panel .btn {
  float: right;
  font-family: 'Oswald', sans-serif;
}
.jobs .panel .faq-cat-content {
  margin-top: 25px;
}
.jobs .panel .panel,
.jobs .panel .panel-group,
.jobs .panel .panel-heading {
  border-radius: 0;
}
.jobs .panel .faq-cat-tabs li a {
  padding: 15px 10px 15px 10px;
  background-color: #f5f6f1;
  border: 1px solid #dddddd;
  color: #777777;
}
.jobs .panel .nav-tabs li a:focus,
.jobs .panel .panel-heading a:focus {
  outline: none;
}
.jobs .panel .panel-heading a,
.jobs .panel .panel-heading a:hover,
.jobs .panel .panel-heading a:focus {
  text-decoration: none;
  color: #3c3631;
}
.jobs .panel .faq-cat-content .panel-heading:hover,
.jobs .panel .active-faq {
  background-color: #3c3631;
}
.jobs .panel .faq-cat-content .panel-heading:hover h3,
.jobs .panel .active-faq h3 {
  color: #ffffff;
}
.jobs .panel .panel-body {
  background-color: #f5f6f1;
  border-width: 0;
}
.jobs .panel .panel-faq .panel-heading .panel-title span {
  font-size: 0.813em;
  font-weight: normal;
}
.menu .image-container {
  position: relative;
  width: 100%;
  /* for IE 6 */
}
.menu .image-container img {
  width: 100%;
}
.menu .image-container header {
  display: none;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #d65933;
  font-style: Artial;
  color: #ffffff;
}
.contact .spacing {
  margin-top: 5px;
  margin-left: 20px;
  display: block;
}
.contact #map-canvas {
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
}
.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}
.contact form input.btn,
.contact form textarea.btn {
  padding: 15px;
}
.contact form textarea {
  height: 100px;
}
#map-canvas {
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .homepage #myCarousel {
    margin-bottom: 10px;
  }
  .homepage #myCarousel .carousel-inner {
    margin-bottom: 10px;
  }
  .homepage #myCarousel .nav li {
    margin-bottom: 5px;
  }
  body > footer .banner nav {
    margin-top: 70px;
  }
  body > footer .banner .top {
    margin-top: 70px;
  }
  body > footer .social ul li {
    width: 20%;
    margin: 5px 0;
    text-align: center;
  }
}
@media (max-width: 992px) {
  body > footer {
    text-align: center;
  }
  body > footer .banner nav {
    margin-top: 50px;
  }
  body > footer .banner img {
    margin-top: 40px;
  }
  body > footer .banner .top {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .bottom20 {
    margin-bottom: 10px;
  }
  .navbar-wrapper .contact {
    display: none;
  }
  .jobs .btn {
    width: 100%;
  }
  body > footer {
    text-align: center;
  }
  body > footer .banner nav {
    margin-top: 30px;
    display: inline-block;
    float: none;
  }
  body > footer .banner nav ul {
    text-align: center;
  }
  body > footer .banner nav ul li {
    width: 50%;
  }
  body > footer .banner .top {
    margin-top: 20px;
  }
}
.validation-summary-valid {
    display: none;
}
/*# sourceMappingURL=style.css.map */