﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<BurgersDemo.Models.ContactModel>
<div id="contactformresult">
    <div class="contact_form">
        @using (Html.BeginUmbracoForm("Submit", "Contact", null, new { data_ajax = "true", data_ajax_method = "Post", data_ajax_mode = "replace", data_ajax_update = "#contactformresult", name = "formName" }))
        {
            @Html.ValidationSummary(false, "Niet alle velden zijn correct ingevuld", new { @class = "validation-message" })
            <fieldset>
                @Html.TextBoxFor(m => Model.Name, new { placeholder = "Je naam" })
            </fieldset>
            <fieldset>
                @Html.TextBoxFor(m => Model.Email, new { placeholder = "Je e-mail adres" })
            </fieldset>
            <fieldset>
                @Html.TextAreaFor(m => Model.Message, new { placeholder = "Je bericht", rows = 5 })
            </fieldset>
            <fieldset>
                <input class="submit_frm btn" type="submit" name="Verzend" value="Verzend" />
            </fieldset>
        }
    </div>
</div>