﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var root = Model.Content.AncestorOrSelf("home") ?? Model.Content;
    var menuItems = root.Children.ToList();
}

<nav>
    <ul class="clearfix">
        @foreach (var item in root.Children)
        {
            <li><a href="@item.Url" title="@item.Name">@item.Name</a> <span class="hidden-xs">/</span></li>
        }
    </ul>
    <p>&copy;2016 copyright DISTRICT01 PREMIUM MEAT // All rights reserved</p>
</nav>