﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var locations = Model.Content.AncestorOrSelf("home").Descendants("locationDetail").ToList();
}
<div class="row">
    @foreach (var location in locations)
    {
        <article class="col-xs-6 col-md-3 location-item">
            <div class="image-container">
                <img src="@Umbraco.TypedMedia(location.GetPropertyValue("image")).Url" />
            </div>
            <header>
                <h3>@location.Name</h3>
            </header>
            <p>@location.GetPropertyValue("address")</p>
            <a href="@location.Url" title="@location.Name">Bekijk detail »</a>
        </article>
    }
</div>