﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var root = Model.Content.AncestorOrSelf("home") ?? Model.Content;
    var menuItems = root.Children.ToList();
}

<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            @for (var i = 0; i < menuItems.Count; i++)
            {
                //Place logo after 2 navigation items
                if (i == 2)
                {
                    <li class="hidden-xs logo">
                        <a href="@root.Url">
                            <h1><img src="~/images/logo.png" alt="District 01"/>
                            </h1>
                        </a>
                    </li>
                }

                <li><a href="@menuItems[i].Url" class="uppercase">@menuItems[i].Name</a><span class="hidden-xs">/</span></li>
            }
        </ul>
    </div>
</nav>