﻿@using BurgersDemo.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div class="container main-content">
    <div id="myCarousel" class="carousel slide bottom30" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/hamburger.jpg" />
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="~/images/pizza.jpg" />
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="~/images/menu.jpg" />
            </div>
            <!-- End Item -->
        </div>
        <!-- End Carousel Inner -->
        <ul class="nav row">
            <li data-target="#myCarousel" data-slide-to="0" class="col-md-4 active">
                <a href="#">
                    <header class="uppercase">
                        District01 Burger
                    </header>
                    <section>
                        - cheddar, argentijns rund & spek <span>€5</span>
                    </section>
                </a>
            </li>
            <li data-target="#myCarousel" data-slide-to="1" class="col-md-4">
                <a href="#">
                    <header class="uppercase">
                        Kitchenteam’s  pizza
                    </header>
                    <section>
                        - kaas, ham, americain & broodkruimels <span>€8</span>
                    </section>
                </a>
            </li>
            <li data-target="#myCarousel" data-slide-to="2" class="col-md-4">
                <a href="#">
                    <header class="uppercase">
                        'Half dagske' menu
                    </header>
                    <section>
                        - District01 burger + frieten + frisdrank <span>€10</span>
                    </section>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Carousel -->
<div class="container slogan">
    <header>@Model.Content.GetPropertyValue("quote")</header>
    <section>- @(Model.Content.GetPropertyValue<DateTime>("quoteDate").ToString("dd/MM/yyyy")) <span>interview met @Model.Content.GetPropertyValue("quotee") -</span></section>
</div>
<div style="margin-top: 50px">

    <div class="container main-content locations">
        <section class="row title-page">
            <div class="col-md-12">
                <header>
                    <h2>Locaties</h2>
                </header>
            </div>
        </section>
        @Html.Partial("~/Views/Partials/Locations.cshtml")
    </div>
</div>
<div class="contact" style="margin-top: 80px">
    <div class="container main-content">
        <section class="row title-page">
            <div class="col-md-12">
                <header>
                    <h2>Contact</h2>
                </header>
            </div>
        </section>
        <div class="row">
            <div class="col-md-5">
                <b>
                    Our Headquarters
                </b>
                <p>
                    District01 Premium Meat<br/>
                    Veldkant 35C 2550 Kontich<br/>
                </p>
                <p>
                    info@district01.be<br />
                    +32 3 612 20 20
                </p>
                <div id="map-canvas"></div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                @Html.Partial("~/Views/Partials/ContactForm.cshtml", new ContactModel())
            </div>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript" src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            franchise.init.carousel();
        });
    </script>
}