﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div class="container main-content locations">
    <section class="row title-page">
        <div class="col-md-12">
            <header>
                <h2>@Model.Content.Name</h2>
            </header>
        </div>
    </section>
    @Html.Partial("~/Views/Partials/Locations.cshtml")
</div>