﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
    var image = Umbraco.TypedMedia(Model.Content.GetPropertyValue<int>("image"));
    var lat = Model.Content.GetPropertyValue("latitude");
    var lng = Model.Content.GetPropertyValue("longitude");

}

<div class="container main-content">
    <section class="row title-page">
        <div class="col-md-12">
            <header>
                <h2>@Model.Content.Name</h2>
                <span>@Model.Content.GetPropertyValue("address")</span>
            </header>
        </div>
    </section>
    <div class="row">
        <div class="col-md-6">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <img src="@image.Url?width=555"/>
            </div>
            <!-- End Carousel -->
        </div>
        <div class="col-md-6">
            <article>
                @Html.Raw(Model.Content.GetPropertyValue("introText"))
            </article>
            <div id="map-canvas"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBp7CvoCHe3dQM_khAZc4awO2DQfqyEyQY"></script>
    <script type='text/javascript'>$(function () { franchise.init.location('@lat', '@lng'); });</script>

}