﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Content.Name - District01</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="District 01" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="~/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body class="homepage">
    <div class="navbar-wrapper">
        <div class="contact container">
            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-phone"></span> +32 3 612 20 20
                    <span class="glyphicon glyphicon-envelope"></span> info@district01.be
                </div>
            </div>
        </div>

        @Html.Partial("~/Views/Partials/Navigation.cshtml");
    </div>

    @RenderBody()

    <footer>
        <div class="banner">
            <div class="container">
                <div class="row">

                    <div class="col-md-2 hidden-xs hidden-sm">
                        <img src="~/images/logo_footer.png" width="205" height="160">
                    </div>
                    <div class="col-sm-2 hidden-lg hidden-md hidden-xs">
                        <img class="img-responsive" src="~/images/logo_footer.png" width="205" height="160">
                    </div>
                    <div class="col-xs-12 hidden-lg hidden-md hidden-sm center-block text-center">
                        <div class="col-xs-4 col-xs-offset-4">
                            <img class="img-responsive" src="~/images/logo_footer.png" width="205" height="160">
                        </div>

                    </div>  
                    <div class="col-md-8 col-sm-8 col-md-offset-1 col-lg-8 col-lg-offset-1 text-center">
                        @Html.Partial("~/Views/Partials/FooterNavigation.cshtml")
                    </div>
                </div>
            </div>
        </div>
        <div class="social">
            <div class="container">
                <div class="row">
                    <ul>
                        <li><a href="#"><img src="~/images/rss.png" /></a></li>
                        <li><a href="#"><img src="~/images/flickr.png" /></a></li>
                        <li><a href="#"><img src="~/images/facebook.png" /></a></li>
                        <li><a href="#"><img src="~/images/twitter.png" /></a></li>
                        <li><a href="#"><img src="~/images/dribbble.png" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/ie10-viewport-bug-workaround.js"></script>
    <script src="~/scripts/main.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
