﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div class="container main-content menu">
    <section class="row title-page">
        <div class="col-md-12">
            <header>
                <h2>@Model.Content.Name</h2>
            </header>
        </div>
    </section>
    <div class="row" id="menu-list"></div>
</div>

@section scripts
{
    <script>
        $(function () {
            $.ajax({
                type: "GET",
                url: "/umbraco/surface/menu/index",
                datatype: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    $('#menu-list').append(
                        $.map(result, function (menuItem) {

                            return "<article class='col-xs-12 col-md-6 menu-item'>" +
                                        "<header>" +
                                            "<h3>" + menuItem.Name + "</h3>" +
                                            "<span class='text-right'>€ " + menuItem.Price + "</span>" +
                                        "</header>" +
                                        "<p>" + menuItem.Description + "</p>" +
                                    "</article>";
                        }));
                    }
            });
        });
    </script>
}
