﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div class="container main-content">
    <section class="row title-page">
        <div class="col-md-12">
            <header>
                <h2>@Model.Content.Name</h2>
            </header>
        </div>
    </section>

    <div class="row">
        <div class="col-md-12">
            @Model.Content.GetPropertyValue("bodyText")
        </div>
    </div>
</div>
